<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SHAKETODELETE</string>
			<key>Key</key>
			<string>supports_shake_to_delete</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>THEME.TITLE</string>
			<key>Key</key>
			<string>app_theme</string>
			<key>DefaultValue</key>
			<string>theme_system</string>
			<key>Titles</key>
			<array>
				<string>THEME.SYSTEM</string>
				<string>THEME.DARK</string>
				<string>THEME.LIGHT</string>
			</array>
			<key>Values</key>
			<array>
				<string>theme_system</string>
				<string>theme_dark</string>
				<string>theme_light</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
